<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.WhiteBoardDrawing" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="WhiteBoardDrawing.Android" android:icon="@drawable/FamilyPicture"></application>
</manifest>